@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .stripes {
        background: repeating-linear-gradient(
                -45deg,
                #262626,
                #262626 10px,
                #171717 10px,
                #171717 20px
        );
    }
    .stripes-primary {
        background: repeating-linear-gradient(
                -45deg,
                #916b00,
                #916B00 10px,
                #594613 10px,
                #594613 20px
        );
    }
    .stripes-secondary {
        background: repeating-linear-gradient(
                -45deg,
                #5c2951,
                #5C2951FF 10px,
                #3e1736 10px,
                #3e1736 20px
        );
    }
    .stripes-warning {
        background: repeating-linear-gradient(
                -45deg,
                rgba(179, 23, 23, 0.5),
                rgba(179, 23, 23, 0.5) 10px,
                rgba(103, 0, 0, 0.5) 10px,
                rgba(103, 0, 0, 0.5) 20px
        );
        box-shadow: 0px 0px 50px 0px rgba(179, 23, 23, 0.5);
    }
    .codeblock {
        @apply bg-neutral-800 outline outline-1 outline-neutral-700 rounded-sm px-2 py-0.5 text-neutral-400 font-jetbrains
    }
    .gallery {
        @apply grid grid-cols-2 grid-rows-1 items-center w-full gap-2 justify-evenly justify-items-center
    }
}
